
@{
    ViewBag.Title = "hopprLab";
}

@*Image Banner with Text Animation*@
<div class="row noGutter">
    <div class="col-xs-12 col-lg-12">
        <div class="headerTextContainer">
            <center>
                <span style="line-height:70vh;">
                    <span class="headerText">Building apps through</span>
                    <span class="txt-rotate headerTextAnimate"
                          data-period="2000"
                          data-rotate='[ "CREATIVITY.", "INNOVATION.", "TECHNOLOGY." ]'>
                    </span>
                </span>
            </center>
        </div>
    </div>
</div>

<div class="headerBodyPadding"></div>

@*What is hopprlab section*@
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <span class="title ttle" style="text-align:left;color:black;">What is <span class="fontAbeat" style="font-weight:600;color:#777777;">hopprLab</span>?</span>
            <br /><br />
            <p class="description descri" style="color:#5e5e5e;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum nisl eget orci semper accumsan. Cras ut tempus sem. Sed semper ultricies mi finibus congue. Morbi diam lorem, tincidunt sed elementum a, ultricies sit amet dui. Nulla et nisi lacus. Proin eleifend eros sit amet mi gravida convallis. Nulla sit amet euismod massa.
            </p>
        </div>
    </div>

</div>

<div class="headerBodyPadding"></div>

@*Body section (Web, Mobile, Analytic, IoT)*@
<div class="row">
    <div class="description-container">
        <div class="headerBodyPadding"></div>
        <div class="container">
            <center>
                <div class="row">
                    <div class="col-lg-6 col-md-6 web">
                        <div style="text-align:left;">
                            <img src="~/Content/Images/icons/web_icon_new.png" height="90" width="90" />
                            <span class="title" style="color:white;">Web</span>
                        </div>
                        <br>
                        <p class="description">
                            Offers wide range of timely applications deployed and maintained in the cloud that are accessible with your browser anywhere from desktop to mobile screens.
                        </p>
                        <br />
                        <div style="text-align:left;">
                            <a class="btn exploreBtn" href="@Url.Action("Web", "Sections")">Explore</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 paddingPerTitle mobile">
                        <div style="text-align:left;">
                            <img src="~/Content/Images/icons/mobile_icon_new.png" height="90" width="70" />
                            <span class="title" style="color:white;">Mobile</span>
                        </div>
                        <br />
                        <p class="description">
                            Engage customers with simpler and more efficient applications that will provide similar services to those accessed on the web while taking advantage of the unique features a mobile device can offer.
                        </p>
                        <br />
                        <div style="text-align:left;">
                            <a class="btn exploreBtn" href="@Url.Action("Mobile", "Sections")">Explore</a>
                        </div>
                    </div>
                </div>
                <div class="paddingPerRow"></div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 paddingPerTitle analytics">
                        <div style="text-align:left;">
                            <img src="~/Content/Images/icons/analytics_icon_new.png" height="90" width="90" />
                            <span class="title" style="color:white;">Analytics</span>
                        </div>
                        <br />
                        <p class="description">
                            Organize, visualize and analyze data to meet dashboards, reports and share insights that will measure your organization's performance.
                        </p>
                        <br />
                        <div style="text-align:left;">
                            <a class="btn exploreBtn" href="@Url.Action("Analytics","Sections")">Explore</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 paddingPerTitle iot">
                        <div style="text-align:left;">
                            <img src="~/Content/Images/icons/iot_icon_new.png" height="90" width="90" />
                            <span class="title" style="color:white;">IoT</span>
                        </div>
                        <br />
                        <p class="description">
                            System of physical things embedded with sensors, software, electronics and connectivity to allow better performance by exchanging data between interconnected devices.
                        </p>
                        <br />
                        <div style="text-align:left;">
                            <a class="btn exploreBtn" href="@Url.Action("IoT", "Sections")">Explore</a>
                        </div>
                    </div>
                </div>
            </center>
        </div>
        <div class="headerBodyPadding"></div>
    </div>
</div>
        
@*People behind section*@
<div class="row noGutter">
    <div class="col-xs-12 col-lg-12">
        <div class="peopleBehindContainer">
            <center>
                <div style="width:100%; height:50vh; background-color:rgba(109,197,144, 0.4); position:relative; top:25vh;" class="peopleBehind">
                    <div class="sliderWrapper">
                        <div id="slider" style="cursor:-webkit-grab;">
                            <div class="box">
                                <center>
                                    <img src="~/Content/Images/icons/man.png" />
                                    <p class="sliderText">Darren Blanco</p>
                                    <h5 class="slidersubText">Applications Developer</h5>
                                </center>
                            </div>
                            <div class="box">
                                <center>
                                    <img src="~/Content/Images/icons/man.png" />
                                    <p class="sliderText">Niño Venzon</p>
                                    <h5 class="slidersubText">Applications Developer</h5>
                                </center>
                            </div>
                            <div class="box">
                                <center>
                                    <img src="~/Content/Images/icons/man.png" />
                                    <p class="sliderText">Steven Rhey Balan</p>
                                    <h5 class="slidersubText">Applications Developer</h5>
                                </center>
                            </div>
                            <div class="box">
                                <center>
                                    <img src="~/Content/Images/icons/man.png" />
                                    <p class="sliderText">Erjel Labetoria</p>
                                    <h5 class="slidersubText">Applications Developer</h5>
                                </center>
                            </div>
                            <div class="box">
                                <center>
                                    <img src="~/Content/Images/icons/man.png" />
                                    <p class="sliderText">Princess Joy Esmenda</p>
                                    <h5 class="slidersubText">Applications Developer</h5>
                                </center>
                            </div>
                            <div class="box">
                                <center>
                                    <img src="~/Content/Images/icons/man.png" />
                                    <p class="sliderText">Reynard Paco</p>
                                    <h5 class="slidersubText">Applications Developer</h5>
                                </center>
                            </div>
                            <div class="box">
                                <center>
                                    <img src="~/Content/Images/icons/man.png" />
                                    <p class="sliderText">Dia Loraine Ann Aguilar</p>
                                    <h5 class="slidersubText">Applications Developer</h5>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>





        

    

  


