@font-face {
    font-family: abeat;
    src: url("../fonts/CustomFonts/ABEAKRG.TTF") format('truetype');
}

@font-face {
    font-family: lato;
    src: url("../fonts/CustomFonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
    font-family: merriweather;
    src: url("../fonts/CustomFonts/Merriweather-Regular.ttf") format('truetype');
}

@font-face {
    font-family: open-sans;
    src: url("../fonts/CustomFonts/Open-Sans-regular.ttf") format('truetype');
}

body {
    padding-top: 50px;
}

.navbar-default {
    background-color:white;
}

.navbar-brand {
    font-family:abeat;
    letter-spacing: 1px;
    font-weight:600;
}

.sidebar {
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    overflow-x:hidden;
    top:0;
    left:0;
    background-color:rgba(57,124,78, 0.9);
    transition:0.3s;
}

.sidebarTextWrapper {
    position:relative;
    top:40%;
    transform:translateY(-50%);
}

.sidebarTextPadding {
    padding-bottom:14px;
    text-align:center;
}

.sidebarText {
    font-size:20px;
    text-transform:uppercase;
    color:white;
    font-family:lato;
    /*font-weight:500;*/
}

.sidebarFooterTextWrapper {
    position:relative;
    top:60%;
    transform:translateY(-50%);
}

.sidebarFooterTextPadding {
    padding-bottom:5px;
    text-align:center;
}

.sidebarFooterText {
    font-size:14px;
    /*text-transform:uppercase;*/
    color:white;
    font-family:lato;
    /*font-weight:500;*/
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 38px;
    margin-left: 50px;
    color:white;
}

.row.noGutter [class*='col-'] {
    padding-right: 0px;
    padding-left: 0px;
}

.peopleBehindContainer {
    height:100vh;
    width:100%;
    background-image:url(../Content/Images/peoplebehind.jpg);
    background-size:cover;
    /*background-attachment:fixed;*/
    background-position:center center;
    background-repeat:no-repeat;
}

.headerTextContainer {
    height:80vh;
    width:100%;
    background-image:url(../Content/Images/headerbg.jpg);
    background-size:cover;
    /*background-attachment:fixed;*/
    background-position:center center;
    background-repeat:no-repeat;
}

.footerWrapper {
    height:8vh;
    width:100%;
    background-color:white;
}

.footerContent {
    font-family:lato;
    font-size:15px;
    color:gray;
    font-weight:500;
    letter-spacing:1px;
}

.headerText {
    font-size:30px;
    font-family:lato;
    font-weight:400;
    color:black;
}

.headerTextAnimate {
    font-size:34px;
    text-transform:uppercase;
    font-family:lato;
    font-weight:500;
    color:#1B996E;
}

.navbar-toggle {
    /*background-color: #1B996E;*/
}

.navbar-nav {
    font-family:lato;
    font-size:18px;
}

    .navbar-nav.navbar-right li a:hover {
        color:#1B996E;
    }

.removeListStyle {
    list-style-type:none;
}

.headerBodyPadding {
    padding-top:150px;
}

.fontAbeat {
    font-family:abeat;
}

.title {
    font-family:lato;
    font-size:35px;
    text-align:justify;
    font-weight:300;
    margin-left:10px;
}

.description {
    font-family:merriweather;
    font-size:15px;
    color: black;
    text-align:left;
}

.exploreBtn {
    height: 33px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #DD6A45;
    border: 0;
    font-family: lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: #fff;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.paddingPerRow {
    padding-top:100px;
}

.paddingPerTitle{
    padding-top:0px;
}

.box {
    height:200px;
    line-height:100px;
    border:none;
    text-align:center;
    font-size:15px;
    margin:5px;
}

.sliderWrapper {
    padding-top:12vh;
    padding-left:150px;
    padding-right:150px;
}

.sliderText {
    font-family:lato;
    font-size: 16px;
    text-transform:uppercase;
    font-weight:500;
}

@media (min-width: 768px) and (max-width: 991px) {
    .headerText {
    font-size:20px;
    font-family:lato;
    font-weight:500;
    color:black;
}

.headerTextAnimate {
    font-size:24px;
    text-transform:uppercase;
    font-family:lato;
    font-weight:500;
    color:#1B996E;
}

.headerBodyPadding {
    padding-top:50px;
}

.title {
    font-family:lato;
    font-size:30px;
    text-align:justify;
    font-weight:300;
    margin-left:10px;
}

.description {
    font-family:merriweather;
    font-size:14px;
    color: black;
    text-align:left;
}

.paddingPerRow {
    padding-top:0px;
}

.paddingPerTitle {
    padding-top: 80px;
}

.sliderWrapper {
    padding-top:12vh;
    padding-left:80px;
    padding-right:80px;
}

.sliderText {
    font-family:lato;
    font-size: 14px;
    text-transform:uppercase;
    font-weight:500;
}


}

@media (max-width: 767px) {
    .headerText {
    font-size:16px;
    font-family:lato;
    font-weight:500;
    color:black;
}

.headerTextAnimate {
    font-size:20px;
    text-transform:uppercase;
    font-family:lato;
    font-weight:500;
    color:#1B996E;
}

.navbar-brand {
    line-height:30px;
}

.headerBodyPadding {
    padding-top:50px;
}

.title {
    font-family:lato;
    font-size:25px;
    text-align:justify;
    font-weight:300;
    margin-left:10px;

}
.description {
    font-family:merriweather;
    font-size:12px;
    color: black;
    text-align:justify;
}
.paddingPerRow { 
    padding-top:0px;
}

.paddingPerTitle{
    padding-top:70px;
}

.footerContent {
    font-family:lato;
    font-size:12px;
    color:gray;
    font-weight:500;
    letter-spacing:1px;
}

.sliderWrapper {
    padding-top:12vh;
    padding-left:30px;
    padding-right:30px;
}

.sliderText {
    font-family:lato;
    font-size: 12px;
    text-transform:uppercase;
    font-weight:500;
}

}



