
@{
    ViewBag.Title = "Analytics";
}

<div class="row noGutter">
    <div class="col-xs-12 col-lg-12">
        <div class="analyticsContainer">
            <center>
                <span style="line-height:70vh;">
                    <span class="headerText"></span>
                </span>
            </center>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="padding-top:80px;padding-bottom:80px;">
            <center>
                <span class="headerTitle">OUR WORK</span>
            </center>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingBottom">
            @*<a href="#">*@
                <div class="wrapper">
                    <img src="~/Content/Images/our_work/powerbi.jpg" class="img-responsive imageOne" />
                    <div class="wrapper-overlay hidden-md hidden-sm hidden-xs">
                        <center>
                            <span class="wrapper-overlay-text">Power BI</span>
                            <p class="wrapper-overlay-description" style="padding-top:30px;">
                                A suite of business analytics tools to analyze data and share insights. Monitor your business ad get answers quickly with rich dashboards available on every device.
                            </p>
                        </center>
                    </div>
                    <div class="visible-md visible-sm visible-xs">
                        <br />
                        <center>
                            <span class="wrapper-overlay-text" style="color:black;">Power BI</span><br />
                            <span class="wrapper-overlay-description" style="color:black;font-size:12px;">
                                A suite of business analytics tools to analyze data and share insights. Monitor your business ad get answers quickly with rich dashboards available on every device.
                            </span>
                        </center>
                    </div>
                </div>
            @*</a>*@
        </div>
    </div>
</div>

