
@{
    ViewBag.Title = "Analytics";
}

<div class="row noGutter">
    <div class="col-xs-12 col-lg-12">
        <div class="analyticsContainer">
            <center>
                <span style="line-height:70vh;">
                    <span class="headerText">Analytics Section</span>
                </span>
            </center>
        </div>
    </div>
</div>

